extends layouts/main-layout.pug 

block content 
    h1 this is sub layout
     ul
    li Car
    li Bus
    li Train 

block more_content 
    h1 this is sub layout
     ul
    li Pen
    li Pencil
    li Box     